<table>
  <h2>User info</h2>
  <thead>
    <tr>
      <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>name</th>
      <th><%= @user.username %></th>
    </tr>
    <tr>
      <th>introduction</th>
    </tr>
    <tr>
     <th><%= @user.introduction %></th>
    </tr>
  </tbody>
</table>

<% if @user.id == current_user.id %>
  <div class="mb-4 mt-5">
    <%= link_to edit_user_path(@user), class:"btn btn-outline-secondary w-75" do %>
      <span class="fas fa-users-cog" aria-hidden="true"></span>
    <% end %>
  </div>
<% end %>
