<div class="container">
  <div class="row justify-content-center">
    <div class="top-text">
      <h1>welcome to
        <span class="fas fa-book" aria-hidden="true">Bookers!!</span>
      </h1>
    </div>
  </div>
</div>