<div class="container">
  <div class="row justify-content-center">
    <div class="top-text">
      <h1>welcome to
        <span class="fas fa-book" aria-hidden="true">Bookers!!</span>
      </h1>
      <p>In
        <span class="fas fa-book" aria-hidden="true">Bookers,</span><br>
        you can share and exchange your opinions, inpressions, and emotions<br>
        about various books!
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <a class="btn btn-primary w-50 mt-2 btn-info sign_in" href="/users/sign_in" role="button">Log in</a>
  </div>
  <div class="row justify-content-center">
    <a class="btn btn-primary w-50 mt-2 btn-success sign_up" href="/users/sign_up" role="button">Sign up</a>
  </div>
</div>